{% extends 'base.html' %}
{% block content %}
<div id="ul-container">
    <ul id="card-container" class="list-unstyled">
        <li class="list-unstyled d-flex justify-content-center">
            <div class="card" style="width: 75;">
                <img class="card-img-top" src="{{ drink.strDrinkThumb }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ drink.strDrink }}</h5>
                    <div class="container text-center">
                        <a href="/recipes/cdb/{{ drink.idDrink }}" class="btn btn-primary">More
                            Details</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}